<div class='well'>
  <%= form_tag buy_path(permalink: permalink), :class => '', :id => 'payment-form' do %>
  <div class='row'>
  </div>
  <div class='row'>
    <div id='custom'>
      <label class='control-label' for='email'>Email</label>
    </div>
  </div>
  <% end %>
</div>